body {

    background-color: #cccccc;
}

h1 {
    color: blue;
}
h2 {
    color: blue;
}
p {
    color: blue;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
}

th,td {
    border: 1px solid black;
}
table.a {
    table-layout: auto;
    width: 180px;
}
div.b {
    border: double;
}
