<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
    <title>
        SCPC Control Page
    </title>
    <img src="/static/BlackLogoA.png" alt="ALogo" width="122" height="94">
    <h1>SCPC control</h1>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            $(".card").on("click", function() {
                $(".container").toggleClass("container-origin");
            });

        });
    </script>

</head>
<body>
    <form action ="" method="POST">
        <div class="section" >
            <div class="container" style="width":1400px;>
                <div class="card" style="float: left; width: 300px;">
                    <div>
                        <p>
                            <label name="DeleteHandle">Phy control</label>
                        </p>
                        <div>
                            <input type="text" name="RxFreq" placeholder="Rx Frequency [Mhz]" >
                        </div>
                        <div >
                            <input type="text" name="RxSR" placeholder="Rx Symbol Rate [Msps]" >
                        </div>
                        <div >
                            <input type="text" name="TxFreq" placeholder="Tx Frequency [Mhz]" >
                        </div>
                        <div >
                            <input type="text" name="TxSR" placeholder="Tx Symbol Rate [Msps]" >
                        </div>
                        <div >
                            <input type="text" name="TxPWR" placeholder="Tx power [dbm]" >
                        </div>
                        <div >
                            <input type="text" name="TxPLS" placeholder="Tx PLS">
                        </div>

                        <div>
                            <select name="TxBucPower" size="1">
                                <option value="0" selected=""> BUC Power off	</option>
                                <option value="1" > BUC Power  On</option>
                            </select>
                        </div>
                        <div>
                            <select name="RxLNBPower" size="1">
                                <option value="0" selected=""> LNB Power off	</option>
                                <option value="1" > LNB Power  On</option>
                            </select>
                        </div>
                        <div>
                            <select name="TxCW" size="1">
                                <option value="0" selected=""> Tx CW Off	</option>
                                <option value="1" > Tx CW  On</option>
                            </select>
                        </div>
                        <div>
                            <select name="TxOnOff" size="1">
                                <option value="0" > Tx  Off	</option>
                                <option value="1" selected=""> Tx  On</option>
                            </select>
                        </div>
                        <div ><input type = "submit" value = "Submit" /></div>
                    </div>
                    {% if result %}
                    <p>
                        <label name='result'>changed: {{ result }}</label>
                    </p>
                    {% endif %}
                    {% if error %}
                    <p>
                    <label name="error">{{ error }}</label>
                    </p>
                    {% endif %}

                </div>
                <div class="card" style="float: left; width: 300px;">
                    <div>
                        <p>

                            <label name="DataCNTRL" >Data Control</label>

                        </p>
                        <div>
                            <input type="text" name="TermIP" placeholder="Terminal IP: 192.168.1.1">
                        </div>
                        <div>
                            <input type="text" name="RemoteTermIP" placeholder="Remote IP: 192.168.1.2">
                        </div>
                        <div>
                            <input type="text" name="RRMIP" placeholder="RRM IP: 192.168.1.1">
                        </div>
                        <div>
                            <input type="text" name="PING" placeholder="ping : 1 = RUN">
                        </div>
                        <div>
                            <input type="text" name="recv_port" placeholder=" server port = (ex :2568)">
                        </div>
                        <div>
                            <input type="text" name="trans_port" placeholder=" client port= (ex :2568)">
                        </div>
                        <div>
                            <div ><input type = "submit" value = "Sumbit" /></div>
                        </div>

                    </div>
                </div>
                <div class="card" style="float: left; width: 300px;">
                    <div>
                        <p>
                            <label name="LogicSwitch">Logic Switch</label>
                        </p>
                        <div>
                            <select name="ACMSwitch" size="1">
                                <option value="0" selected=""> ACM Off	</option>
                                <option value="1" > ACM on</option>
                            </select>
                        </div>
                        <div>
                            <select name="ShortSwitch" size="1">
                                <option value="0" selected=""> Short Loop Off	</option>
                                <option value="1" > Short Loop on</option>
                            </select>
                        </div>
                        <div>
                            <select name="ULPCSwitch" size="1">
                                <option value="0" selected=""> Long Loop Off	</option>
                                <option value="1" > Long Loop On</option>
                            </select>
                        </div>
                        <div>
                            <select name="P1dBSwitch" size="1">
                                <option value="0" selected=""> P1dB Off	</option>
                                <option value="1" > P1dB on</option>
                            </select>
                        </div>
                        <div>
                            <select name="RRMSwitch" size="1">
                                <option value="0" selected=""> RRM Control Off	</option>
                                <option value="1" > RRM Control On</option>
                            </select>
                        </div>
                        <div>
                            <select name="TxCNTRL" size="1">
                                <option value="0" selected=""> Tx CNTRL Off	</option>
                                <option value="1" > Tx CNTR On</option>
                            </select>
                        </div>
                        <div>
                            <select name="Client" size="1">
                                <option value="0" selected=""> Client Off	</option>
                                <option value="1" > Client On</option>
                            </select>
                        </div>
                        <div>
                            <select name="SERVER" size="1">
                                <option value="0" selected=""> Server Off	</option>
                                <option value="1" > Server On</option>
                            </select>
                        </div>

                        <input type="submit" value="Submit">
                    </div>
                </div>


                 <div class="card" style="float: left; width: 300px;">
                      <input type="button" value="refresh">
                  <tbody id="announcementdiv">




                    <tr >

                        {% for key, value in stats.iteritems() %}

                            <div>
                                <td>
                                    {{ key  }} :
                                </td>
                                <td>
                                    {{value }}
                                </td>
                            </div>
                        {% endfor %}

                    </tr>

                  </tbody>
                  </div>


      </div>
        </div>
    </form>
</body>
