<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
    <title>
        SCPC Control Page
    </title>

    <h1>SCPC control</h1>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {

            $(".card").on("click", function() {
                $(".container").toggleClass("container-origin");
            });

        });
    </script>

</head>
<body>
    <form action ="" method="POST">
        <div class="section" >
            <div class="container" style="width":1400px;>
                <div class="card" style="float: left; width: 300px;">
                    <div>
                        <p>
                            <label name="DeleteHandle">Phy control</label>
                        </p>
                        <div>
                            <input type="text" name="RxFreq" placeholder="Rx Frequency [Mhz]" >
                        </div>
                        <div >
                            <input type="text" name="RxSR" placeholder="Rx Symbol Rate [Msps]" >
                        </div>
                        <div >
                            <input type="text" name="TxFreq" placeholder="Tx Frequency [Mhz]" >
                        </div>
                        <div >
                            <input type="text" name="TxSR" placeholder="Tx Symbol Rate [Msps]" >
                        </div>
                        <div >
                            <input type="text" name="TxPWR" placeholder="Tx power [dbm]" >
                        </div>
                        <div >
                            <input type="text" name="TxPLS" placeholder="Tx PLS">
                        </div>
                        <div>
                            <select name="TxBucPower" size="1">
                                <option value="0" selected=""> BUC Power off	</option>
                                <option value="1" > BUC Power  On</option>
                            </select>
                        </div>
                        <div>
                            <select name="RxLNBPower" size="1">
                                <option value="0" selected=""> LNB Power off	</option>
                                <option value="1" > LNB Power  On</option>
                            </select>
                        </div>
                        <div>
                            <select name="TxCW" size="1">
                                <option value="0" selected=""> Tx CW Off	</option>
                                <option value="1" > Tx CW  On</option>
                            </select>
                        </div>
                        <div>
                            <select name="TxOnOff" size="1">
                                <option value="0"> Tx  Off	</option>
                                <option value="1" selected=""> Tx  On</option>
                            </select>
                        </div>
                        <div ><input type = "submit" value = "Submit" /></div>
                    </div>
                    <!--{% if result %}-->
                    <!--<p>-->
                        <!--<label name='result'>changed: {{ result }}</label>-->
                    <!--</p>-->
                    <!--{% endif %}-->
                    <!--{% if error %}-->
                    <!--<p>-->
                    <!--<label name="error">{{ error }}</label>-->
                    <!--</p>-->
                    <!--{% endif %}-->
                </div>
                <div class="card" style="float: left; width: 300px;">
                    <div>
                        <p>
                            <label name="LogicSwitch">Logic Switch</label>
                        </p>
                        <div>
                            <select name="ACMSwitch" size="1">
                                {% if clientSwitch == 1 %}
                                    <option value="0"> ACM Off	</option>
                                    <option value="1" selected=""> ACM on</option>
                                {% else %}
                                    <option value="0" selected=""> ACM Off	</option>
                                    <option value="1"> ACM on</option>
                                {% endif %}
                            </select>
                        </div>
                        <div>
                            <select name="ShortSwitch" size="1">
                                <option value="0" selected=""> Short Loop Off	</option>
                                <option value="1" > Short Loop on</option>
                            </select>
                        </div>
                        <div>
                            <select name="ULPCSwitch" size="1">
                                <option value="0" selected=""> Long Loop Off	</option>
                                <option value="1" > Long Loop On</option>
                            </select>
                        </div>
                        <div>
                            <select name="P1dBSwitch" size="1">
                                <option value="0" selected=""> P1dB Off	</option>
                                <option value="1" > P1dB on</option>
                            </select>
                        </div>
                        <div>
                            <select name="RRMSwitch" size="1">
                                <option value="0" selected=""> RRM Control Off	</option>
                                <option value="1" > RRM Control On</option>
                            </select>
                        </div>
                        <div>
                            <select name="TxCNTRL" size="1">
                                {% if txSwitch == 1 %}
                                    <option value="0"> Tx CNTRL Off	</option>
                                    <option value="1" selected=""> Tx CNTR On</option>
                                {% else %}
                                    <option value="0" selected=""> Tx CNTRL Off	</option>
                                    <option value="1" > Tx CNTR On</option>
                                {% endif %}
                            </select>
                        </div>
                        <div>
                            <select name="Client" size="1">
                                {% if clientSwitch == 1 %}
                                    <option value="0"> Client Off	</option>
                                    <option value="1" selected=""> Client On</option>
                                {% else %}
                                    <option value="0" selected=""> Client Off	</option>
                                    <option value="1"> Client On</option>
                                {% endif %}
                            </select>
                        </div>
                        <div>
                            <select name="SERVER" size="1">
                                {% if serverSwitch == 1 %}
                                    <option value="0"> Server Off	</option>
                                    <option value="1" selected=""> Server On</option>
                                {% else %}
                                    <option value="0" selected=""> Server Off	</option>
                                    <option value="1" > Server On</option>
                                {% endif %}
                            </select>
                        </div>
                        <div>
                            <select name="PING" size="1">
                                <option value="0" selected=""> Ping Off	</option>
                                <option value="1" > Ping On</option>
                            </select>
                        </div>
                        <input type="submit" value="Submit">
                    </div>
                </div>
                <div class="card" style="float: left; width: 300px;">
                    <table id="announcementdiv" >
                        <tr>
                            <td>
                                Symbol Rate Tx :
                            </td>
                            <td>
                                {{ TxSR }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Symbol Rate Rx :
                            </td>
                            <td>
                                {{ RxSR }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Tx Frequency [MHz]:
                            </td>
                            <td>
                                {{ tx_freq }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Rx Frequency [MHz]:
                            </td>
                            <td>
                                {{ rx_freq }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PLS :
                            </td>
                            <td>
                                {{ PLS }}
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card" style="float: left; width: 300px;">
                    <table id="announcementdiv" >
                        <tr>
                            <td>
                                My IP :
                            </td>
                            <td>
                                {{ my_IP }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Remote IP :
                            </td>
                            <td>
                                {{ RemoteTermIP }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                RRM IP :
                            </td>
                            <td>
                                {{ RRM_IP }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                UDP Port :
                            </td>
                            <td>
                                {{ udp_port }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Got Ping? :
                            </td>
                            {% if PING == 1 %}
                            <td>
                                got ping response from {{ RemoteTermIP }}
                            </td>
                            {% else %}
                            <td>
                                no ping to {{ RemoteTermIP }}
                            </td>
                            {% endif %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </form>
</body>
